*{
    font-family: fantasy;
}

body{
    width: 50%;
    margin: auto;/* gestion automatique des marges pour qu emon tableau soit centré*/
}

table{
    border: 4px solid blueviolet;
    border-collapse: collapse; /*rassemble les border ensembles pour obtenir une border unique */
    width: 90%;
    margin: 25px;
}

thead, tfoot{
    background-color: rgb(247, 243, 231);
    border: 
    3px solid rgb(255, 75, 75);
}

tbody{
    border: 1px solid rgb(177, 7, 177);
}

th{
    border: 1px dotted rgb(167, 5, 167);
    padding: 4px;/*marge interieur, c'est ce qui permet d'éligner du texte de la bordure de la blaise */
    background-color: wheat;
    width: 25%;
}

td{
    font-size: 100%;
    border: 1px dotted rgb(126, 9, 126);
    text-align: center;
    padding: 5px;
}

td:first-child{/*1er td pour aligner le texte a gauche de la premiére rangée*/
    text-align: left;
    background-color: gold;
}