/*1- Media querie permet de réarranger la disposition du site en fonction des tailles de navigateur en pixel - c.f viewportsizes.com - En général 3 tailles suffisent.  2 
2- on peut faire une feuille de style standare et une seulement pour le responsive. 
3- La zone est verte en plein écran et passe d'une couleur à l'auture pour arriver au rouge, on utilisera les breakpoint 992px et 768px.
4- un site doit être conçu en pensant dés le début à la version mobile, on apple ça mobile first.*/


.zone-adaptative{
    background: red;
    color: whitesmoke;
    padding: 10px;
}

@media (min-width: 768px){/*sert à utiliser les media queries, on utilise le @ pour écrire régle css*/
    .zone-adaptative{
        width: 750px;
        background:orange;
    }
}

@media (min-width: 992px){
    .zone-adaptative{
        width: 970px;
        background: blue;
    }
}

@media (min-width: 1200px){
    .zone-adaptative{
        width: 1170px;
        background: green;
    }
}

@media (min-width: 1500px){
    .zone-adaptative{
        width: 1460px;
        background: black;
    }
}